<!DOCTYPE html>
<html>
<head>
  <title>RspecDogs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="logo">
    <%=link_to "BARK", root_path %>
  </h1>
  <nav>
  	<ul>
  		<li><%=link_to "Sign Up", new_dog_path %></li>
  	</ul>
  </nav>

<%= yield %>

</body>
</html>
